@model IEnumerable<project1_lib.Project>

<html>
    <head>
        <link href="~/css/home.css" rel="stylesheet" />
    </head>
    <body>
        <img style="width:100%;height:100%" src="https://imageio.forbes.com/specials-images/dam/imageserve/1092571024/960x0.jpg?format=jpg&width=960"/>
       
    </body>
</html>
