@model IEnumerable<project1_lib.Task>
@using Microsoft.AspNetCore.Http

<html>
    <head>
        <link href="~/css/home.css" rel="stylesheet" />
    </head>
    <body>
       <h1>@ViewData["title"]</h1>

       @*<a href="add_tasks">New Task</a>
       @if(Model != null)
        {
       @foreach(var item in Model)
       {
           <p>@item.TaskName</p>
           <p>@item.TaskDescription</p>
           <p>@item.TaskDueDate</p>
      
       }
        }*@
    </body>
    <h1>abc</h1>
</html>
